{% extends 'home_base.html' %}
{% load static %}
{% block meta_description %}{{ post.meta_description }}{% endblock %}
{% block meta_keywords %}{{ post.meta_tags }}{% endblock %}
{% block og_title %}{{ post.title }} | Hubnetix{% endblock %}
{% block og_description %}{{ post.meta_description }}{% endblock %}
{% block og_image %}{% if post.featured_image %}{{ request.scheme }}://{{ request.get_host }}{{ post.featured_image.url }}{% else %}{{ request.scheme }}://{{ request.get_host }}{% static 'home_assets/media/default-image.png' %}{% endif %}{% endblock %}
{% block title %}{{ post.title }} | Hubnetix{% endblock %}
{% block canonical_url %}<link rel="canonical" href="{% if post.canonical_url %}{{ post.canonical_url }}{% else %}{{ request.build_absolute_uri }}{% endif %}">{% endblock %}

{% block content %}


<style>
    a:hover {
        color: inherit;
        text-decoration: none;
    }
</style>

<section class="blog-detail">
    <div class="container">
        <div class="row g-5">
            <div class="col-7">
                <div class="blog-d-img">
                    {% if post.featured_image %}
                        <img src="{{ post.featured_image.url }}" alt="{{ post.featured_image_alt|default:post.title }}">
                    {% endif %}
                </div>
                <p>
                    <span>
                        {% if post.author %}
                            {{ post.author }}
                        {% endif %}
                    </span> 
                    {{ post.short_description|safe }} | {{ post.date_published|date:"d M, Y" }}
                </p>
                <div class="blog-content">
                    <h1 class="main-tit">{{ post.title }}</h1>
                    {{ post.content|safe }}
                </div>
            </div>
            
            <div class="col-5">
                <div class="recent-blog-area">
                    <h2 class="main-tit">Recent Blogs</h2>
                    <ul class="rec-blog">
                        {% for recent_blog in recent_blogs %}
                        <li>
                            <a href="{% url 'home-blog_detail' recent_blog.slug %}">
                                <div class="blog-card blog-de-card">
                                    <div class="blog-img">
                                        {% if recent_blog.featured_image %}
                                            <img src="{{ recent_blog.featured_image.url }}" 
                                                 alt="{{ recent_blog.featured_image_alt|default:recent_blog.title }}" 
                                                 class="rounded-3">
                                        {% endif %}
                                    </div>
                                    <div>
                                        <h3>{{ recent_blog.get_category_display }}</h3>
                                        <h2>{{ recent_blog.title }}</h2>
                                        <div class="blog-foot">
                                            <p>
                                                <span>
                                                    {% if recent_blog.author %}
                                                        {{ recent_blog.author }}
                                                    {% endif %}
                                                </span> 
                                                {{ recent_blog.short_description|safe }} 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    
                    <h2 class="main-tit">Categories</h2>
                    <ul class="cat-ul">
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'home-resources' %}?category={{ category.category }}">
                                <h3>{{ category.display_name }} ({{ category.count }})</h3>
                                <i class="fa-solid fa-chevron-right ms-3"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
