{% load static %}
<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
  <div class="">
    <h2 class="title">
      HUBNETIX Partner Program
    </h2>
    <p>Hubnetix Partner Program is designed to empower our partners, distributors, and system integrators
      with the resources and support they need to drive mutual growth. Our program offers various
      partnership levels to accommodate businesses of all sizes and expertise, ensuring a collaborative and
      rewarding relationship.</p>
    <p>Hubnetix Partner Program is designed to empower our partners, distributors, and system integrators
      with the
      resources and support they need to drive mutual growth. Our program offers various partnership levels
      to
      accommodate businesses of all sizes and expertise, ensuring a collaborative and rewarding
      relationship.</p>
    <h2 class="sub-title">
      Why Partner with Hubnetix?
    </h2>
    <ul class="why-ul">
      <li>
        Access to a wide range of premium products.
      </li>
      <li>
        Competitive pricing and attractive margins.
      </li>
      <li>
        Marketing and sales support to help you grow.
      </li>
      <li>
      <li>
        Training and certification programs.
      </li>
      </li>
      <li>
        Dedicated account management.
      </li>
    </ul>
    <h2 class="sub-title">
      Partner Levels:
    </h2>
    <div class="feature_accordion">
      <div class="accordion_item">
        <div class="accordion_header position-relative">
          <div class="partner-ico">
            <img src="{% static 'home_assets/media/g1.png' %}" alt="">
          </div>
          <div class="">

            <h3>Hubnetix Master Partner</h3>
            <p>Partners with the highest level of support and stock availability.</p>
          </div>
          <div class="status_indicator">

            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2017_4865)">
                <path d="M0.516113 7.82617L6.33811 1.32617L11.9841 7.82617" stroke="rgba(35, 31, 32, 0.86)"
                  stroke-width="1.5" stroke-miterlimit="20"></path>
              </g>
              <defs>
                <clipPath id="clip0_2017_4865">
                  <rect width="13" height="8" fill="white" transform="matrix(-1 0 0 -1 13 8)"></rect>
                </clipPath>
              </defs>
            </svg>

          </div>
        </div>

        <div class="accordion_body">
          <div class="content">
            <ul>
              <li>
                <h4 class="content-title">
                  Role:
                </h4>
                <p>Main stockist</p>
              </li>
              <li>
                <h4 class="content-title">
                  Responsibilities::
                </h4>
                <ul class="sub-ul">
                  <li>
                    Maintain substantial inventory to support regional demand
                  </li>
                  <li>
                    Provide logistics and distribution support
                  </li>
                  <li>
                    Ensure availability of products to other partners
                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Benefits:
                </h4>
                <ul class="sub-ul">
                  <li>
                    Exclusive pricing and priority stock allocation

                  </li>
                  <li>
                    Marketing support and joint promotions

                  </li>
                  <li>
                    Dedicated account manager

                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Requirements:

                </h4>
                <ul class="sub-ul">
                  <li>
                    Minimum stock volume commitment
                  </li>
                  <li>
                    Sales target achievement

                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion_item">
        <div class="accordion_header position-relative">
          <div class="partner-ico">
            <img src="{% static 'home_assets/media/g2.png' %}" alt="">
          </div>
          <div class="">

            <h3>Hubnetix Strategic Partner
            </h3>
            <p>Regional partners with access to a broad portfolio of products.</p>
          </div>
          <div class="status_indicator">

            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2017_4865)">
                <path d="M0.516113 7.82617L6.33811 1.32617L11.9841 7.82617" stroke="rgba(35, 31, 32, 0.86)"
                  stroke-width="1.5" stroke-miterlimit="20"></path>
              </g>
              <defs>
                <clipPath id="clip0_2017_4865">
                  <rect width="13" height="8" fill="white" transform="matrix(-1 0 0 -1 13 8)"></rect>
                </clipPath>
              </defs>
            </svg>

          </div>
        </div>


        <div class="accordion_body">
          <div class="content">
            <ul>
              <li>
                <h4 class="content-title">
                  Role:
                </h4>
                <p>Regional partner
                </p>
              </li>
              <li>
                <h4 class="content-title">
                  Responsibilities::
                </h4>
                <ul class="sub-ul">
                  <li>
                    Regional sales and distribution

                  </li>
                  <li>
                    Relationship management with key customers

                  </li>
                  <li>
                    Market development within assigned region
                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Benefits:
                </h4>
                <ul class="sub-ul">
                  <li>
                    Regional exclusivity


                  </li>
                  <li>
                    Joint branding opportunities

                  </li>
                  <li>
                    Access to special promotions


                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Requirements:

                </h4>
                <ul class="sub-ul">
                  <li>
                    Regional presence with an established network

                  </li>
                  <li>
                    Annual revenue commitment

                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion_item">
        <div class="accordion_header position-relative">
          <div class="partner-ico">
            <img src="{% static 'home_assets/media/g3.png' %}" alt="">
          </div>
          <div class="">

            <h3>Hubnetix Premier Plus Partner</h3>
            <p>Special partners with access to top-tier support and priority treatment.
            </p>
          </div>
          <div class="status_indicator">

            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2017_4865)">
                <path d="M0.516113 7.82617L6.33811 1.32617L11.9841 7.82617" stroke="rgba(35, 31, 32, 0.86)"
                  stroke-width="1.5" stroke-miterlimit="20"></path>
              </g>
              <defs>
                <clipPath id="clip0_2017_4865">
                  <rect width="13" height="8" fill="white" transform="matrix(-1 0 0 -1 13 8)"></rect>
                </clipPath>
              </defs>
            </svg>

          </div>
        </div>

        <div class="accordion_body">
          <div class="content">
            <ul>
              <li>
                <h4 class="content-title">
                  Role:
                </h4>
                <p>Special partners</p>
              </li>
              <li>
                <h4 class="content-title">
                  Responsibilities::
                </h4>
                <ul class="sub-ul">
                  <li>
                    Strategic collaboration on key projects
                  </li>
                  <li>
                    Exclusive focus on high-value opportunities
                  </li>
                  <li>
                    Industry thought leadership

                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Benefits:
                </h4>
                <ul class="sub-ul">
                  <li>
                    Exclusive deals and privileges


                  </li>
                  <li>
                    Executive-level engagement


                  </li>
                  <li>
                    Invitation to special events


                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Requirements:

                </h4>
                <ul class="sub-ul">
                  <li>
                    Strategic partnership approval
                  </li>
                  <li>
                    Proven track record of success


                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion_item">
        <div class="accordion_header position-relative">
          <div class="partner-ico">
            <img src="{% static 'home_assets/media/g4.png' %}" alt="">
          </div>
          <div class="">

            <h3>Hubnetix Premier Partner</h3>
            <p>A higher-level partner with added support and access to more exclusive products.
            </p>
          </div>
          <div class="status_indicator">

            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2017_4865)">
                <path d="M0.516113 7.82617L6.33811 1.32617L11.9841 7.82617" stroke="rgba(35, 31, 32, 0.86)"
                  stroke-width="1.5" stroke-miterlimit="20"></path>
              </g>
              <defs>
                <clipPath id="clip0_2017_4865">
                  <rect width="13" height="8" fill="white" transform="matrix(-1 0 0 -1 13 8)"></rect>
                </clipPath>
              </defs>
            </svg>

          </div>
        </div>

        <div class="accordion_body">
          <div class="content">
            <ul>
              <li>
                <h4 class="content-title">
                  Role:
                </h4>
                <p>Higher level partner
                </p>
              </li>
              <li>
                <h4 class="content-title">
                  Responsibilities::
                </h4>
                <ul class="sub-ul">
                  <li>
                    Drive large-scale projects
                  </li>
                  <li>
                    Engage in strategic marketing initiatives
                  </li>
                  <li>
                    Provide top-tier customer support

                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Benefits:
                </h4>
                <ul class="sub-ul">
                  <li>
                    Increased margin incentives


                  </li>
                  <li>
                    Premium support access


                  </li>
                  <li>
                    Co-branded marketing initiatives


                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Requirements:

                </h4>
                <ul class="sub-ul">
                  <li>
                    High revenue commitment
                  </li>
                  <li>
                    Strong market presence


                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion_item">
        <div class="accordion_header position-relative">
          <div class="partner-ico">
            <img src="{% static 'home_assets/media/g5.png' %}" alt="">
          </div>
          <div class="">

            <h3>Hubnetix Certified Partner</h3>
            <p>Registered partners with certification after completing specific training.
            </p>
          </div>
          <div class="status_indicator">

            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2017_4865)">
                <path d="M0.516113 7.82617L6.33811 1.32617L11.9841 7.82617" stroke="rgba(35, 31, 32, 0.86)"
                  stroke-width="1.5" stroke-miterlimit="20"></path>
              </g>
              <defs>
                <clipPath id="clip0_2017_4865">
                  <rect width="13" height="8" fill="white" transform="matrix(-1 0 0 -1 13 8)"></rect>
                </clipPath>
              </defs>
            </svg>

          </div>
        </div>

        <div class="accordion_body">
          <div class="content">
            <ul>
              <li>
                <h4 class="content-title">
                  Role:
                </h4>
                <p>Registered partner with certification</p>
              </li>
              <li>
                <h4 class="content-title">
                  Responsibilities::
                </h4>
                <ul class="sub-ul">
                  <li>
                    Meet certification requirements through training
                  </li>
                  <li>
                    Offer technical support and implementation

                  </li>
                  <li>
                    Drive product awareness
                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Benefits:
                </h4>
                <ul class="sub-ul">
                  <li>
                    Certification badge and credentials

                  </li>
                  <li>
                    Advanced technical training


                  </li>
                  <li>
                    Lead generation support


                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Requirements:

                </h4>
                <ul class="sub-ul">
                  <li>
                    Successful completion of certification training

                  </li>
                  <li>
                    Service capability demonstration


                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion_item">
        <div class="accordion_header position-relative">
          <div class="partner-ico">
            <img src="{% static 'home_assets/media/g6.png' %}" alt="">
          </div>
          <div class="">

            <h3>Hubnetix Value Partner</h3>
            <p>Registered partners who have access to competitive pricing and key products.</p>
          </div>
          <div class="status_indicator">

            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2017_4865)">
                <path d="M0.516113 7.82617L6.33811 1.32617L11.9841 7.82617" stroke="rgba(35, 31, 32, 0.86)"
                  stroke-width="1.5" stroke-miterlimit="20"></path>
              </g>
              <defs>
                <clipPath id="clip0_2017_4865">
                  <rect width="13" height="8" fill="white" transform="matrix(-1 0 0 -1 13 8)"></rect>
                </clipPath>
              </defs>
            </svg>

          </div>
        </div>

        <div class="accordion_body">
          <div class="content">
            <ul>
              <li>
                <h4 class="content-title">
                  Role:
                </h4>
                <p>Registered partner</p>
              </li>
              <li>
                <h4 class="content-title">
                  Responsibilities::
                </h4>
                <ul class="sub-ul">
                  <li>
                    Resell Hubnetix products within their market

                  </li>
                  <li>
                    Provide basic support to customers

                  </li>
                  <li>
                    Follow Hubnetix pricing guidelines

                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Benefits:
                </h4>
                <ul class="sub-ul">
                  <li>
                    Access to standard pricing and discounts


                  </li>
                  <li>
                    Sales and technical training


                  </li>
                  <li>
                    Marketing materials support

                  </li>
                </ul>
              </li>
              <li>
                <h4 class="content-title">
                  Requirements:

                </h4>
                <ul class="sub-ul">
                  <li>
                    Registration approval

                  </li>
                  <li>
                    Sales commitment


                  </li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <h2 class="sub-title">
      Program Benefits Across Levels:
    </h2>
    <ul class="why-ul">
      <li>
        Competitive pricing models

      </li>
      <li>
        Marketing and branding support

      </li>
      <li>
        Sales and technical training

      </li>
      <li>
        Exclusive partner portal access

      </li>
      <li>
        Priority technical support

      </li>
    </ul>
    <h2 class="sub-title">
      How to Join:
    </h2>
    <p>Interested businesses can apply to join the Hubnetix Partner Program by submitting their application
      through
      our official website or by contacting our partner management team.</p>
    <p>The Hubnetix Partner Program is tailored to create mutual success and long-term growth. We look
      forward to
      partnering with businesses that share our vision and commitment to delivering top-tier solutions in
      the
      market.</p>
    <p>For more info<a href="mailto:partners@hubnetix.com" class="m-info"> partners@hubnetix.com</a></p>
  </div>
</div>