{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="hubnetix">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, html5, responsive">
    <meta name="author" content="Optional author">
    <meta name="robots" content="noindex, nofollow">

    <title>{% block title %} Partner Dashboard {% endblock %}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/media/logo.svg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/media/logo.svg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/media/logo.svg' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/media/logo.svg' %}">

    <!-- BASE CSS -->
    {% block base_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/plugins/lightbox/glightbox.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/plugins/owlcarousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
    {% endblock %}

    <!-- Extra CSS for specific pages -->
    {% block extra_css %}{% endblock %}

    <!-- Extra Header JS (CDNs) -->
    {% block extra_header_js %}
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.tiny.cloud/1/2emtw9ub1z5hiqkoov7jmrm7mrz0ahwkt5n0tayd8mv5dkbk/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    {% endblock %}
</head>
<body>

    <div class="main-wrapper">
        {% include 'partner_header.html' %}
        {% include 'partner_sidebar.html' %}


        {% block body %}{% endblock %}
    </div>

    <!-- BASE JS -->
    {% block base_js %}
        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'assets/js/feather.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
        <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
        <script src="{% static 'assets/js/moment.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'assets/plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
        <script src="{% static 'assets/plugins/sweetalert/sweetalerts.min.js' %}"></script>
        <script src="{% static 'assets/plugins/lightbox/glightbox.min.js' %}"></script>
        <script src="{% static 'assets/plugins/lightbox/lightbox.js' %}"></script>
        <script src="{% static 'assets/js/script.js' %}"></script>
        <script src="{% static 'assets/plugins/owlcarousel/owl.carousel.min.js' %}"></script>
    {% endblock %}

    <!-- Extra JS for specific pages -->
    {% block extra_js %}{% endblock %}
</body>
</html>