{% load static %}
<div class="header">

    <div class="header-left active">
      <a href="{% url 'seo_dashboard-dashboard' %}" class="logo mx-5 logo-normal">
        <img src="{% static 'home_assets/media/logo-red.svg' %}" alt>
      </a>
      <a href="{% url 'seo_dashboard-dashboard' %}" class="logo mx-5 logo-white">
        <img src="{% static 'home_assets/media/logo-red.svg' %}" alt>
      </a>
      <a href="{% url 'seo_dashboard-dashboard' %}" class="logo-small mx-5">
        <img src="{% static 'home_assets/media/logo-red.svg' %}" alt>
      </a>
      <a id="toggle_btn" href="javascript:void(0);">
        <i data-feather="chevrons-left" class="feather-16"></i>
      </a>
    </div>
    <a id="mobile_btn" class="mobile_btn" href="#sidebar">
      <span class="bar-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>
    <ul class="nav user-menu">
      <li class="nav-item nav-searchinputs">
        <div class="top-nav-search">
          <a href="javascript:void(0);" class="responsive-search">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </li>
      <li class="nav-item nav-item-box">
        <a href="javascript:void(0);" id="dark-mode-toggle" class="mode-button light-mode">
          <i class="fas fa-sun" style="color: #67748e;"></i>
        </a>
      </li>


      <li class="nav-item nav-item-box">
        <a href="javascript:void(0);" id="btnFullscreen">
          <i data-feather="maximize"></i>
        </a>
      </li>

      <li class="nav-item dropdown has-arrow main-drop">
        <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
          <span class="user-info">
            <!-- <span class="user-letter">
              <img src="{% static 'assets/img/profiles/avator1.jpg' %}" alt class="img-fluid">
            </span> -->
            <span class="user-detail">
              {% if super_admin %}
              <span class="user-name">{{super_admin}}</span>
              <span class="user-role">Super Admin</span>
              {% else %}
              <span class="user-name">{{admin}}</span>
              <span class="user-role">SEO MANAGER</span>
              {% endif %}
            </span>
          </span>
        </a>
        <div class="dropdown-menu menu-drop-user">
          <div class="profilename">
            <div class="profileset">
              <!-- <span class="user-img"><img src="{% static 'assets/img/profiles/avator1.jpg' %}" alt>
                <span class="status online"></span></span> -->
              <div class="profilesets">

                {% if super_admin %}
                <h6>{{super_admin}}</h6>
                <h5>Super Admin</h5>
                {% else %}
                <h5>{{admin}}</h5>
                <h5>Admin</h5>
                {% endif %}

              </div>
            </div>
            <hr class="m-0">
            <a class="dropdown-item" href="{% url 'seo_dashboard-dashboard' %}"><i class="me-2"
                data-feather="settings"></i>Reset Password</a>
            <hr class="m-0">
            <!-- <a class="dropdown-item" href="profile.html"> <i class="me-2" data-feather="user"></i> My
              Profile</a>
            <a class="dropdown-item" href="generalsettings.html"><i class="me-2"
                data-feather="settings"></i>Settings</a>
            <hr class="m-0"> -->
            <a class="dropdown-item logout pb-0" href="{% url 'seo_dashboard-logout' %}"><img src="{% static 'assets/img/icons/log-out.svg' %}"
                class="me-2" alt="img">Logout</a>
          </div>
        </div>
      </li>
    </ul>


    <div class="dropdown mobile-user-menu">
      <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- <a class="dropdown-item" href="profile.html">My Profile</a>
        <a class="dropdown-item" href="generalsettings.html">Settings</a> -->
        <a class="dropdown-item" href="{% url 'seo_dashboard-logout' %}">Logout</a>
      </div>
    </div>

  </div>

{% block extra_js %}
<!-- Toggle date inputs -->
<script>
    function toggleDateInputs() {
        var dateInputs = document.getElementById('dateInputs');
        if (dateInputs.style.display === 'none') {
            dateInputs.style.display = 'block';
        } else {
            dateInputs.style.display = 'none';
        }
    }
</script>

<!-- Search functionality -->
<script>
    $(document).ready(function () {
        var searchInput = $('#search-input');
        var searchResults = $('#search-result');

        searchInput.on('input', function () {
            var searchText = $(this).val().trim();

            if (searchText.length > 0) {
                $.ajax({
                    url: "",
                    method: 'GET',
                    data: { 'search_text': searchText },
                    success: function (response) {
                        searchResults.html('');

                        if (response.length > 0) {
                            $.each(response, function (index, result) {
                                var item;
                                var maxLength = 32;
                                if (result.type === 'product') {
                                    var url = "/a/" + result.id + "/" + result.name_slug;
                                    var productName = result.name.length > maxLength ?
                                        result.name.substring(0, maxLength) + '...' :
                                        result.name;

                                    item = $('<a>')
                                        .addClass('dropdown-item')
                                        .attr('href', url)
                                        .append($('<h5>').text(productName).css('display', 'inline-block').attr('title', result.name));
                                }

                                searchResults.append(item);
                            });

                            searchResults.show();
                        } else {
                            searchResults.html('<h5>No results found.</h5>');
                        }
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                });
            } else {
                searchResults.html('');
                searchResults.hide();
            }
        });

        document.addEventListener('keydown', function (event) {
            if (event.key === 'Escape') {
                searchInput.val('');
                searchResults.html('');
                searchResults.hide();
            }
        });

        $(document).on('click', function (event) {
            if (!$(event.target).closest('.top-nav-search').length) {
                searchResults.hide();
            }
        });
    });
</script>

<!-- Notification count update -->
<script>
    $(document).ready(function () {
        // Attach a click event to the <a> element
        $("#email").on("click", function (e) {
            // Prevent the default behavior of the link
            e.preventDefault();

            // Make an AJAX request to get the updated count
            $.ajax({
                url: "",  // Replace with the actual URL for getting count
                method: "GET",
                success: function (data) {
                    // Update the count in the span
                    $(".notification-number").text(data.count);
                },
                error: function (error) {
                    console.error("Error fetching count:", error);
                }
            });
        });
    });
</script>

<!-- Dark/Light mode toggle -->
<script>
    // JavaScript to toggle between Light and Dark modes
    document.addEventListener('DOMContentLoaded', function () {
        const modeButton = document.getElementById('dark-mode-toggle');
        const globalLoader = document.getElementById('global-loader');
        const icon = modeButton.querySelector('i');

        // Function to set the mode based on saved preference or system preference
        function setMode() {
            const savedMode = localStorage.getItem('mode');

            // Check if the user has a saved mode preference
            if (savedMode === 'dark') {
                modeButton.classList.add('dark-mode');
                modeButton.classList.remove('light-mode');
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
                globalLoader.style.backgroundColor = '#fff';
            } else {
                modeButton.classList.remove('dark-mode');
                modeButton.classList.add('light-mode');
                icon.classList.remove('fa-moon');
                icon.classList.add('fa-sun');
                globalLoader.style.backgroundColor = '#141432';
            }

            // Add a class to the body to hide the content until styles are applied
            document.body.classList.add('mode-transition');
        }

        // Toggle the mode on button click
        modeButton.addEventListener('click', function () {
            if (modeButton.classList.contains('dark-mode')) {
                localStorage.setItem('mode', 'light');
            } else {
                localStorage.setItem('mode', 'dark');
            }
            setMode(); // Update the mode immediately
        });

        // Initialize the mode when the page loads
        setMode();

        // After styles are applied, remove the class that hides the content
        window.addEventListener('load', function () {
            document.body.classList.remove('mode-transition');
        });

        // Get all the submenu items
        const submenuItems = document.querySelectorAll('.sidebar-menu ul li ul li a');

        // Loop through each submenu item
        submenuItems.forEach(function (submenuItem) {
            submenuItem.addEventListener('click', function () {
                // Remove the 'clicked-submenu' class from all submenu items
                submenuItems.forEach(function (item) {
                    item.classList.remove('clicked-submenu');
                });

                // Add the 'clicked-submenu' class to the clicked submenu item
                this.classList.add('clicked-submenu');
            });
        });
    });
</script>

{% endblock extra_js %}